force-app/main/default/flows/screenFlowButton.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>myError</name>
        <label>myError</label>
        <locationX>189</locationX>
        <locationY>79</locationY>
        <actionName>InvokedError</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>isError</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputParameters>
            <name>errorIn</name>
            <value>
                <elementReference>flowErrorIn</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>flowErrorOut</assignToReference>
            <name>errorOut</name>
        </outputParameters>
    </actionCalls>
    <decisions>
        <name>isError</name>
        <label>isError</label>
        <locationX>429</locationX>
        <locationY>80</locationY>
        <defaultConnector>
            <targetReference>Finish</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ifError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowErrorOut</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>ifError</label>
        </rules>
    </decisions>
    <interviewLabel>screenFlowButton {!$Flow.CurrentDateTime}</interviewLabel>
    <label>screenFlowButton</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>302</locationX>
        <locationY>462</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayError</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!flowErrorIn}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!flowErrorOut}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>The flow</description>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>696</locationX>
        <locationY>76</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noError</name>
            <fieldText>&lt;p&gt;No Error?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>myError</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>flowErrorIn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&quot;Input Error Message Not Set!&quot;</stringValue>
        </value>
    </variables>
    <variables>
        <name>flowErrorOut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&quot;Output Error Msg Not Set!&quot;</stringValue>
        </value>
    </variables>
</Flow>
